<!DOCTYPE html>
<html>
<head>
  <title>重新設定密碼</title>
</head>
<body>
  <h1>重新設定密碼</h1>
  <form method="POST" action="/resetPassword" onsubmit="return updatePassword()">
    <label for="username">帳號:</label>
    <input type="text" id="username" name="username" required><br><br>
    <label for="password">密碼:</label>
    <input type="password" id="password" name="password" required><br><br>
    <label for="confirm_password">確認密碼:</label>
    <input type="password" id="confirm_password" name="confirm_password" required><br><br>
    <input type="submit" value="提交">
  </form>

  <script>
    function updatePassword() {
      var username = document.getElementsByName('username')[0].value;
      var password = document.getElementsByName('password')[0].value;
      var confirm_password = document.getElementsByName('confirm_password')[0].value;

      if (password !== confirm_password) {
        alert('密码不匹配');
        return false;
      }

      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/checkUser');
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.onload = function() {
        if (xhr.status === 200) {
          var response = JSON.parse(xhr.responseText);
          if (!response.exists) {
            alert('用户不存在');
            return false;
          }

          return true;
        }
      };
      xhr.send(JSON.stringify({ username: username }));

      return false;
    }
  </script>
</body>
</html>
