<!DOCTYPE html>
<html>
<head>
  <title>重新設定密碼</title>
</head>
<body>
  <h1>重新設定密碼</h1>
  <form id="resetP" method="POST" action="/resetPassword">
    <label for="username">帳號:</label>
    <input type="text" id="username" name="username" required><br><br>
    <label for="password">密碼:</label>
    <input type="password" id="password" name="password" required><br><br>
    <label for="confirm_password">確認密碼:</label>
    <input type="password" id="confirm_password" name="confirm_password" required><br><br>
    <a
        href="#"
        onclick="document.getElementById('resetP').submit()"
        type="submit">
        <i class="fas fa-download fa-sm text-white-50"></i>
        Submit
    </a>
  </form>
</body>
</html>
