{% extends 'components/base.html' %}
{% block title %}Approval List{% endblock %}
{% block content %}

<div class="row">
    <div class="col mb-4">
        <div class="card shadow mb-4">
            <a href="#collapseCardMyself" class="d-block card-header py-3" data-toggle="collapse"
            role="button" aria-expanded="true" aria-controls="collapseCardMyself">
                <h6 class="m-0 font-weight-bold text-primary">你建立的簽呈</h6>
            </a>
            <div class="collapse" id="collapseCardMyself">
                <div class="card-body">

                    <div class="table-responsive">
                        <table class="table table-bordered" id="creator_table" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Type</th>
                                    <th>Creator</th>
                                    <th>Created Time</th>
                                    <th>View Page</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Title</th>
                                    <th>Type</th>
                                    <th>Creator</th>
                                    <th>Created Time</th>
                                    <th>View Page</th>
                                </tr>
                            </tfoot>
                            <tbody>
                            {% for document in creator_pending_documents %}
                                <tr>
                                    <td>{{ document.title }}</td>
                                    <td>{{ document.doc_type_cht }}</td>
                                    <td>{{ document.creator_name }}</td>
                                    <td>{{ document.create_time.strftime('%Y-%m-%d')[:10] }}</td>
                                    <td>
                                        <a href="/p/view/{{ document.doc_id }}"
                                           class="btn btn-primary btn-icon-split">
                                                <span class="icon text-white-50">
                                                    <i class="fas fa-file-code"></i>
                                                </span>
                                                <span class="text">View</span>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

        <div class="card shadow mb-4">
            <a href="#collapseCardUnapproved" class="d-block card-header py-3" data-toggle="collapse"
            role="button" aria-expanded="true" aria-controls="collapseCardMyself">
                <h6 class="m-0 font-weight-bold text-primary">待核可簽呈</h6>
            </a>
            <div class="collapse" id="collapseCardUnapproved">
                <div class="card-body">

                    <div class="table-responsive">
                        <table class="table table-bordered" id="approval_table" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Type</th>
                                    <th>Creator</th>
                                    <th>Created Time</th>
                                    <th>View Page</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Title</th>
                                    <th>Type</th>
                                    <th>Creator</th>
                                    <th>Created Time</th>
                                    <th>View Page</th>
                                </tr>
                            </tfoot>
                            <tbody>
                            {% for document in unapproved_documents %}
                                <tr>
                                    <td>{{ document.title }}</td>
                                    <td>{{ document.doc_type_cht }}</td>
                                    <td>{{ document.creator_name }}</td>
                                    <td>{{ document.create_time.strftime('%Y-%m-%d')[:10] }}</td>
                                    <td>
                                        <a href="/p/view/{{ document.doc_id }}"
                                           class="btn btn-primary btn-icon-split">
                                                <span class="icon text-white-50">
                                                    <i class="fas fa-file-code"></i>
                                                </span>
                                                <span class="text">View</span>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

        <div class="card shadow mb-4">
            <a href="#collapseCardAll" class="d-block card-header py-3" data-toggle="collapse"
            role="button" aria-expanded="true" aria-controls="collapseCardAll">
                <h6 class="m-0 font-weight-bold text-primary">近期所有簽呈</h6>
            </a>
            <div class="collapse" id="collapseCardAll">
                <div class="card-body">

                    <div class="table-responsive">
                        <table class="table table-bordered" id="recently_table" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Type</th>
                                    <th>Creator</th>
                                    <th>Created Time</th>
                                    <th>View Page</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Title</th>
                                    <th>Type</th>
                                    <th>Creator</th>
                                    <th>Created Time</th>
                                    <th>View Page</th>
                                </tr>
                            </tfoot>
                            <tbody>
                            {% for document in all_documents %}
                                <tr>
                                    <td>{{ document.title }}</td>
                                    <td>{{ document.doc_type_cht }}</td>
                                    <td>{{ document.creator_name }}</td>
                                    <td>{{ document.create_time.strftime('%Y-%m-%d')[:10] }}</td>
                                    <td>
                                        <a href="/p/view/{{ document.doc_id }}"
                                           class="btn btn-primary btn-icon-split">
                                                <span class="icon text-white-50">
                                                    <i class="fas fa-file-code"></i>
                                                </span>
                                                <span class="text">View</span>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                    </div>
            </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}
