{% extends 'components/base.html' %}
{% block title %}檢閱簽呈{% endblock %}
{% block content %}

<h2>檢閱簽呈</h2>
<div class="row">
    <div class="col mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">簽呈內容  -
                    {% if document.status == 1 %}
                        <code>簽呈中</code>
                    {% elif document.status == 2 %}
                        <code>已簽呈完成</code>
                    {% endif %}
                </h6>
            </div>
            <div class="card-body">
                <form id="edit_doc" action="/edit_doc/{{ document.doc_id }}" method="POST">
                    <div class="col mt-4 mb-2">
                        <label for="type">類型：</label>
                        <p>{{ document.doc_type_cht }}</p>
                    </div>

                    <div class="col mt-4 mb-2">
                        <label for="title">標題：</label>
                        <P>{{ document.title }}</P>
                    </div>

                    <div class="col mt-4 mb-2">
                        <label for="content">內容：</label>
                        <p>{{ document.content|safe }}</p>
                    </div>

                    <div class="col mt-4 mb-2">
                        <div class="row">
                            <div class="col">
                                <label for="created_time">建立日期：<code>{{ document.create_time.strftime('%Y-%m-%d')[:10] }}</code></label>
                            </div>
                            <div class="col">
                                <label for="last_update">最後更新：<code>{{ document.last_update.strftime('%Y-%m-%d')[:10] }}</code></label>
                            </div>
                        </div>
                    </div>

                    <div class="card shadow mb-4">
                        <a href="#collapseCardAppRecord" class="d-block card-header py-3" data-toggle="collapse"
                            role="button" aria-expanded="true" aria-controls="collapseCardAppRecord">
                            <h6 class="m-0 font-weight-bold text-primary">簽呈紀錄</h6>
                        </a>
                        <div class="collapse" id="collapseCardAppRecord">
                            <div class="card-body">
                                {% for record in app_record %}
                                <p>{{ record.username }} ：
                                    {% if record.status == 0 %}
                                    Wating for approval
                                    {% elif record.status == 1 %}
                                    Approved at <code>{{ record.approval_time.strftime('%Y-%m-%d')[:10] }}</code>
                                    {% else %}
                                    <code>Unapproved</code>
                                    {% endif %}
                                </p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="card shadow mb-4">
                        <a href="#collapseCardStatusRecord" class="d-block card-header py-3" data-toggle="collapse"
                            role="button" aria-expanded="true" aria-controls="collapseCardStatusRecord">
                            <h6 class="m-0 font-weight-bold text-primary">簽呈編輯紀錄</h6>
                        </a>
                        <div class="collapse" id="collapseCardStatusRecord">
                            <div class="card-body">
                                <p>{{ document.status_remark|safe }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col mt-4 mb-2">
                        <div class="row">
                            {% if document.status == 1 %}
                                {% if creator == 1 %}
                                    <div class="col">
                                        <a href="/p/edit/{{ document.doc_id }}"
                                           class="btn btn-primary btn-icon-split">
                                            <span class="icon text-white-50">
                                                <i class="fas fa-file-code"></i>
                                            </span>
                                            <span class="text">Alter</span>
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a onclick="confirmAction_delete({{ document.doc_id }})"
                                           class="btn btn-danger btn-icon-split">
                                            <span class="icon text-white-50">
                                                <i class="fas fa-trash"></i>
                                            </span>
                                            <span class="text">Delete</span>
                                        </a>
                                    </div>
                                {% endif %}

                                {% if approve == 1 %}
                                    <div class="col">
                                        <a onclick="confirmAction_approve({{ document.doc_id }})"
                                           class="btn btn-success btn-icon-split">
                                            <span class="icon text-white-50">
                                                <i class="fas fa-check"></i>
                                            </span>
                                            <span class="text">Approve</span>
                                        </a>
                                    </div>

                                    <div class="col">
                                        <a onclick="confirmAction_unapprove({{ document.doc_id }})"
                                           class="btn btn-danger btn-icon-split">
                                            <span class="icon text-white-50">
                                                <i class="fas fa-comment-slash"></i>
                                            </span>
                                            <span class="text">unApprove</span>
                                        </a>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
